* {
  font-family: "Nuosu SIL", serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
title:hover {
  font-family: Arial;
  color: white;
}

.form {
  text-align: center;
}
.summary {
  text-align: center;
}

body {
  background-color: #f1f2f3;
}

/* INDEX PAGE STYLES */

.nav-logo {
  width: 50px;
  height: 50px;
}
.nav-logo img {
  height: 100%;
}

.nav-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.fa-solid.fa-bars {
  font-size: 2rem;
  cursor: pointer;
  color: #bd89a2;
}
.nav-links {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  left: 0;
  background: #fff;
  /* align-items: center; */
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}

.show-nav {
  transform: translateX(0);
}

.nav-links a {
  font-size: 2rem;
  width: 100%;
  text-align: center;

  display: block;
  text-transform: uppercase;
}

.nav-links li {
  width: 100%;
  margin: 1rem 0;
  background: antiquewhite;
  padding: 1rem 0;
}
.nav-links ul {
  width: 100%;
  padding: 0;
  /*! margin: 1rem 0; */
}

.about-us-page-heading {
  font-size: 3rem;
  font-weight: bolder;
  border-bottom: solid #bd89a2 5px;
  width: fit-content;
  margin: 0;
}
.about-section {
  border: solid 1px;
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.about-section p {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  line-height: 1.5rem;
}

.app-title {
  font-size: 3rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  color: #f6828c;
  word-spacing: -0.5rem;
}
.app-title span {
  text-transform: capitalize;
  font-style: italic;
  color: #bd89a2;
  font-size: 3.5rem;
}

.btn-container a {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #fff;
  font-weight: bolder;
}
.btn-container button {
  padding: 0.5rem;
  margin-left: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #f6828c;
  transition: all 0.5s;
}

.btn-container button:hover {
  background-color: #bd89a2;
}
.btn-container {
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* about us PAGE */

/* .about-us-page-heading {
  text-align: center;
  color: #bd89a2;
  font-weight: bold;
  border-bottom: solid 3px #f6828c;
  width: fit-content;
  margin: auto;
  font-size: 1.5rem;
} */

/************************************************LOGIN PAGE************  */

.main-con {
  border: solid 1px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.form {
  /* border: solid red; */
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.form input {
  width: 400px;
  margin: 1rem auto;
  height: 50px;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 20px;
}

.login-page-header {
  text-decoration: underline;
  color: #bd89a2;
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  width: fit-content;
  margin: auto;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem 0;
}

.login-submit-btn {
  width: fit-content;
  margin: auto;
  font-size: 1.5rem;
  padding: 0.4rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #fff;
  background-color: #bd89a2;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.bottom-text {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}
.bottom-text a {
  font-weight: bold;
  color: #f6828c;
}

.signup {
  text-align: center;
  color: #bd89a2;
  font-weight: bold;
  border-bottom: solid 6px #f6828c;
  width: fit-content;
  margin: auto;
  font-size: 2.5rem;
  width: 100%;
  margin: 1rem 0;
  background: #feeced;
  padding: 1rem 0;
}

/************************************************USER PAGE************  */

.logout-btn {
  width: fit-content;
  margin: auto;
  font-size: 1.5rem;
  padding: 0.4rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #fff;
  background-color: #bd89a2;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.user-page-heading {
  text-align: center;
  color: #bd89a2;
  font-weight: bold;
  border-bottom: solid 3px #f6828c;
  width: fit-content;
  margin: auto;
  font-size: 1.5rem;
}
.user-med div {
  color: #bd89a2;
}

.name {
  color: #bd89a2;
  text-transform: capitalize;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.medicine-form {
  /* border: solid; */
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.medicine-form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  /* border: solid red; */
}
.medicine-form label {
  color: #f6828c;
  font-size: 1.1rem;
  font-weight: bold;
}

.medicine-form input {
  height: 30px;
  border-radius: 5px;
}

.submit-btn {
  width: fit-content;
  margin: auto;
  font-size: 1.5rem;
  padding: 0.4rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #fff;
  background-color: #bd89a2;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.submit-btn:hover {
  color: #f6828c;
  background-color: #fff;
}

.each-med {
  border: solid;
  display: flex;
  align-items: center;
}

.medicine-table-section {
  display: flex;
  justify-content: center;
}
table {
  border: solid 1px;
  /*! border-spacing: 1rem; */
  border-collapse: collapse;
}
.table-body {
  border: solid 1px;
}
tr {
  border: solid 1px;
}

td {
  border: solid;
  padding: .5rem;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2rem;
}
thead {
  border: solid;
  text-align: center;
}
th {
  text-align: center;
  border: solid;
  width: 150px;

}
tbody td{
  height: 40px;
}
.delete-btn{
  width: fit-content;
  margin: auto;
  font-size: 1.2rem;
  padding: 0.4rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #fff;
  background-color: #bd89a2;
  text-transform: uppercase;
  transition: all 0.8s linear;
  cursor: pointer;
}

.delete-btn:hover{
  background-color: #f1f2f3;
  color: #f6828c;
}
@media screen and (min-width: 700px) {
  .user-page-heading {
    font-size: 2rem;
  }
  .name {
    font-size: 1.5rem;
  }
  .medicine-form div {
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .medicine-form input {
    width: 60%;
  }
}
